<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="icon" href="http://localhost:3000/images/fixer_logo.png">
    <title>Form Response</title>
    <!-- import Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/form-validation.css" rel="stylesheet">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- import Bootstrap -->
    <script src="http://localhost:3000/javascripts/bootstrap.min.js"></script>

</head>

<body class="bg-light">
    <div class="text-center px-3 py-3 pt-md-5 pb-md-4">
        <h2>Thank you for submitting your request.</h2>
        <h2>CSG consultant will be in touch with you shortly</h2>
    </div>
</body>
</html>