<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/fixer_logo.png">
    <title>Milestone Form</title>
    <!-- import Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/form-validation.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- import Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- import jquery validater -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5">
        <h2 class="text-center">Milestone Form</h2>
      </div>
      <form method="post" action="/milestoneform/confirm">
        <table id="milestonetable" class="table">
          <thead>
            <tr class="thead-dark">
              <th class="text-center w-auto" scope="col">SI.No</th>
              <th class="text-center w-75" scope="col">Project Milestones</th>
              <th class="text-center w-auto" scope="col">Estimated Hours</th>
            </tr>
          </thead>
          <tbody>
            <% var i; %>
            <% for(i=0; i<10; i++) { %>
              <tr>
                <th class="w-auto text-center" scope="col"><%= i+1 %></th>
                <th class="w-75" scope="col">
                  <input type="text" class="form-control" id="<%= i %>" placeholder="" name="milestone" onchange='reqChange()'>
                </th>
                <th class="w-auto" scope="col">
                  <input type="number" list="data1" min="0" class="form-control" id="<%= i+100 %>" placeholder="" name="estimated_hours" onchange='reqChange()'>
                </th>
              </tr>
            <% } %>
          </tbody>
        </table>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Send Form</button>
        </form>
    </div>
    <footer class="my-5 pt-5 text-center text-small text-muted">
    </footer>
    
    <div class="addButton">
      <button class="btn btn-info rounded-circle p-0" style="width:4rem;height:4rem;" type="button" id="add_row">＋</button>
    </div>
  </body>
  <datalist id="data1">
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
    <option value="8"></option>
    <option value="9"></option>
  </datalist>
</html>
<script>
  function reqChange(){
    // alert("row_num" + row_num);
    var eval_ms;
    var eval_eh;
    var tablelen = $("#milestonetable tbody").children().length;
    var esId;
    var msId;
    //console.log("length = "+tablelen);
    // evalq = $('input[ name="testName" ]').val();
    // evald = $('#'+i).val();
    // evaln = $('#'+n).val();
    // alert("reqChange start" + i + " evalq=" + evalq + " evald=" + evald + evaln);
    for(msId=0; msId<tablelen+1; msId++){
      esId=msId+100;
      eval_ms = $('#'+msId).val();
      if(eval_ms == ""){
        $('#'+esId).attr('required',false);
        // $('#'+eshoursId).attr('placeholder',"null");
      }else{
        $('#'+esId).attr('required',true);
        // $('#'+eshoursId).attr('placeholder',eval);
      }
      eval_eh = $('#'+esId).val();
      if(eval_eh == ""){
        $('#'+msId).attr('required',false);
        // $('#'+eshoursId).attr('placeholder',"null");
      }else{
        $('#'+msId).attr('required',true);
        // $('#'+eshoursId).attr('placeholder',eval);
      }
    }
  }

$(document).ready(function(){
  $("#add_row").click(function(){
    // add row to the end of the table
    $('#milestonetable').append( getRowData() );
    
    // if you want insert the data after specified row, use this code
    // var len = $("#tbl tbody").children().length;
    // $('#milestonetable tr').eq(len - 2).after( getRowData() );
  });
});

getRowData = function() {
  var num = $("#milestonetable tbody").children().length + 1;
  var eshoursId = num + 100;
  var tform = '<tr>' +
                '<th class="text-center">'+num+'</th>' +
                '<th class="text-center">' +
                  '<input type="text" class="form-control" id="'+num+'" placeholder="" name="milestone" onchange="reqChange()">' +
                '</th>' +
                '<th class="w-auto" scope="col">' +
                  '<input type="number" list="data1" min="0" class="form-control" id="'+eshoursId+'" placeholder="" name="estimated_hours" onchange="reqChange()">' +
                '</th>' +
              '</tr>';
  var eval = $('#'+111).val();
  return tform;
}
</script>

