<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/fixer_logo.png">
    <title>Milestone Form</title>
    <!-- import Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/form-validation.css" rel="stylesheet">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- import Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- import jquery validater -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5">
        <h2 class="text-center">Milestone Form</h2>
      </div>
      <form method="post" action="/milestoneform/confirm">
        <table class="table table-sm">
          <thead>
            <tr class="thead-dark">
              <th class="text-center w-auto" scope="col">SI.No</th>
              <th class="text-center w-75" scope="col">Project Milestones</th>
              <th class="text-center w-auto" scope="col">Estimated Hours</th>
            </tr>
          </thead>
          <tbody>
            <% var hantei; %>
            <% for(var i=0; i<10; i++) { %>
              <tr>
                <th class="w-auto text-center" scope="col"><%= i+1 %></th>
                <th class="w-75" scope="col">
                  <input type="text" class="form-control" id="<%= i %>" placeholder="" name="milestone<% [i] %>" onchange='reqChange(<%= i %>)'>
                </th>
                <script> hantei = $('input[name="milestone[i]"]').val();</script>
                  <th class="w-auto" scope="col">
                    <input type="number" list="data1" min="0" class="form-control" id="<%= i+100 %>" placeholder="" name="eshours<% [i] %>">
                    <datalist id="data1">
                      <option value="1"></option>
                      <option value="2"></option>
                      <option value="3"></option>
                      <option value="4"></option>
                      <option value="5"></option>
                      <option value="6"></option>
                      <option value="7"></option>
                      <option value="8"></option>
                      <option value="9"></option>
                    </datalist>
                  </th>
              </tr>
            <% } %>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <div class="col-md-5">
                    <button class="btn mx-auto d-block btn-block" type="button" id="add_button">Add a row</button>
                  </div>
                  </th>
                <th scope="col"></th>
              </tr>
          </tbody>
        </table>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Send Form</button>
        </form>
    </div>
		<footer class="my-5 pt-5 text-center text-small text-muted">
			
		</footer>
  </body>
</html>
<script>
  function reqChange(i){
    var eval;
    var n=i+100;
    // evalq = $('input[ name="testName" ]').val();
    // evald = $('#'+i).val();
    // evaln = $('#'+n).val();
    // alert("reqChange start" + i + " evalq=" + evalq + " evald=" + evald + evaln);
    for(k=0; k<10; k++){
      eshoursId=k+100;
      eval = $('#'+k).val();
      if(eval == ""){
        $('#'+eshoursId).attr('required',false);
        // $('#'+eshoursId).attr('placeholder',"null");
      }else{
        $('#'+eshoursId).attr('required',true);
        // $('#'+eshoursId).attr('placeholder',eval);
      }
    }
  }
</script>

