body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.addButton:hover{
  opacity: 0.65;
}